* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    background-color: rgb(219, 245, 234);
    /* Adaptei a cor de fundo para a sua preferência */
    margin: 0;
}

/* Barra de navegação */
.navbar {
    background-color: rgba(211, 211, 211, 0.4);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(2, 15, 7, 0.3);
    box-shadow: 0px 0px 10px 2px rgba(2, 90, 53, 0.5);
}

.logo {
    max-height: 80px;
}

.nav .nav-link:hover {
    background-color: #6A0572;
    color: rgb(95, 206, 95);
}

.nav .nav-link {
    color: rgb(13, 1, 24);
}

.navbar-toggler {
    background-color: #28a745;
}

/* Seção Início */
#sobre {
    align-items: center;
}

#sobre img {
    max-height: 340px;
}

.jsl, .jsl2 {
    color: #6A0572;
}

.jsl2 {
    font-size: 24px;
}

.titulosobre {
    color: #28a745;
}


/* seção categorias */
#categorias {
    backdrop-filter: blur(10px);
    padding-top: 4rem;
    padding-bottom: 3rem;
    position: relative;
    background-image: url('./images/banner2.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-title {
    color: #6A0572;
    font-size: 2.5rem;
    font-weight: bold;
}

.section-title2 {
    color: #DBF5EA;
    font-size: 2.5rem;
    font-weight: bold;
}
.text-center i {
    color: #28a745;
    /* Cor do ícone, ajuste conforme necessário */
    font-size: 3rem;
}

.textop {
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1.6;
    /* Ajusta o espaçamento entre linhas */
    margin-left: 12px;
    color: rgb(13, 1, 24);
}

.cardcat:hover {
    background-color: rgba(106, 5, 114, 0.5);
    transform: scale(1.04);
    box-shadow: 0px 0px 10px 2px rgba(2, 90, 53, 0.5);
}


#service {
    box-shadow: 0px 0px 10px 2px rgba(2, 90, 53, 0.5);

}

/* barra lateral */
aside {
    font-size: 18px;
    width: 100%;
    font-weight: 600;
}


.nav-service .nav-link:hover {
    background-color: #C4A3E9;
    transform: scale(1.02);
    color: #6A0572;
    box-shadow: 0px 0px 10px 2px rgba(2, 90, 53, 0.5);
    transition: background-color 0.4s ease, transform 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}

.nav-pills .nav-link.active {
    background-color: #6A0572;
    /* Substitua pela cor desejada */
    color: #25D366;
    /* Cor do texto na sua guia ativa */
}

/* tab content */
.card {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    /* Ajuste o valor do desfoque conforme necessário */
    color: #6A0572;
    box-shadow: 0px 0px 10px 2px rgba(2, 90, 53, 0.5);
    transition: background-color 0.4s ease, transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    font-weight: 600;
    cursor: pointer;
}

.card:hover {
    backdrop-filter: blur(10px);
    /* Ajuste o valor do desfoque conforme necessário */
    box-shadow: 0px 0px 10px 2px rgba(2, 90, 53, 0.5);
    background-color: rgba(255, 255, 255, 1);
}

.card img {
    max-width: 300px;



}

@keyframes zoomIn {
    0% {
        transform: translateX(0) rotate(10deg);
    }

    50% {
        transform: translateX(0) rotate(25deg);
    }

    100% {
        transform: translateX(0) rotate(10deg);
    }
}

.zoom-in-image {
    animation: zoomIn 1s 3;
}


.titulo-card {
    font-weight: 900;
    color: #6A0572;

}

.preco {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 0;
}

#roadmap {
    position: relative;
    background-image: url('./images/banner2.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Ajuste o espaçamento e outras propriedades conforme necessário */
#roadmap .container {
    padding: 20px 0; /* Ajuste o espaçamento superior e inferior conforme necessário */
}

#contato button {
    background-color: #25D366;
    color: rgb(13, 1, 24);
}

#contato button:hover {
    transform: scale(1.04);

}

#contato {
    background-color: #6A0572;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
    color: #C4A3E9;
}

.formu {
    color: #25D366;
}

.form-control:focus {
    border-color: #25D366;
    /* Cor de destaque quando em foco */
    box-shadow: 0 0 0 0.2rem rgba(6, 98, 236, 0.3);
    /* Sombra de destaque */
    outline: 0;
    /* Remova a borda de destaque padrão no Firefox */
}

.mail {
    color: #C4A3E9;
}

.mail:hover {
    transform: scale(1.03);
}


#sl {
    margin-top: 8%;
}

.footer {
    font-size: 14px;
}

@media (max-width=767px) {
    #sobre img {
        max-height: 280px;
    }

    #categorias img {
        max-height: 120px;
    }

    .dot {
        position: absolute;
        width: 5vw;
        height: 5vw;
    }

    .dots-container {
        width: 100vw;
    }

    .textop {
        color: white;
        margin-bottom: 30px;
        font-size: 18px;
    }
}