* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    color: rgb(55, 19, 85);
    background: linear-gradient(to bottom, rgba(214, 222, 255, 1) 0%, rgba(214, 222, 255, 1) 60%, rgba(181, 116, 171, 0.8) 90%, rgba(110, 66, 145, 1) 100%);
    margin: 0;
    /* Define margens do corpo como 0 para evitar espaçamento padrão do navegador */


}

/* barra de navegação */
.navbar {
    background-color: rgba(110, 66, 145, 0.5);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(2, 15, 7, 0.3);
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
}

.logo {
    max-height: 80px;
}

.nav .nav-link:hover {
    background-color: rgb(55, 19, 85);
    color: rgb(95, 206, 95);

}

.nav .nav-link {
    color: rgb(13, 1, 24);
}

.navbar-toggler {
    background-color: #28a745;
}

/* seção inicio */
#sobre {

    color: rgb(55, 19, 85);
    ;
    align-items: center;
}

#sobre img {
    max-height: 340px;
}



.jsl {
    color: rgb(55, 19, 85);
}

.jsl2 {
    font-size: 24px;
}

.titulosobre {
    color: #28a745;
}


/* seção categorias */
#categorias {

    backdrop-filter: blur(10px);

    padding-top: 4rem;
    padding-bottom: 3rem;

}

.section-title {
    color: rgb(30, 5, 51);
    ;
    font-size: 2.5rem;
    font-weight: bold;
}

.text-center i {
    color: #28a745;
    /* Cor do ícone, ajuste conforme necessário */
    font-size: 3rem;
}

.textop {
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1.6;
    /* Ajusta o espaçamento entre linhas */
    margin-left: 12px;
}

.cardcat:hover {
    background-color: rgba(110, 66, 145, 1);
    transform: scale(1.04);
    box-shadow: 0px 0px 6px 2px rgba(214, 222, 255, 0.5);
}


#service {
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);

}

/* barra lateral */
aside {
    font-size: 18px;
    width: 100%;
    font-weight: 600;
}


.nav-service .nav-link:hover {
    background-color: rgba(55, 19, 85, 0.5);
    transform: scale(1.02);
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
    transition: background-color 0.4s ease, transform 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}

.nav-pills .nav-link.active {
    background-color: rgb(55, 19, 85);
    /* Substitua pela cor desejada */
    color: #25D366;
    /* Cor do texto na sua guia ativa */
}

/* tab content */
.card {
    background-color: rgba(214, 222, 255, 0.5);
    backdrop-filter: blur(10px);
    /* Ajuste o valor do desfoque conforme necessário */
    color: rgb(55, 19, 85);
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
    transition: background-color 0.4s ease, transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    font-weight: 600;
}

.card:hover {
    backdrop-filter: blur(10px);
    /* Ajuste o valor do desfoque conforme necessário */
    color: rgb(55, 19, 85);
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);

    background-color: rgba(255, 255, 255, 1);

}

.card img {
    max-width: 300px;



}

@keyframes zoomIn {
    0% {
        transform: translateX(0) rotate(10deg);
    }

    50% {
        transform: translateX(0) rotate(25deg);
    }

    100% {
        transform: translateX(0) rotate(10deg);
    }
}

.zoom-in-image {
    animation: zoomIn 1s 3;
}


.titulo-card {
    font-weight: 22px;
    font-weight: 700;
    color: rgb(55, 19, 85);

}

.preco {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 0;
}

#roadmap {
    color: rgb(13, 1, 24);



}


#contato button {
    background-color: #25D366;
    color: rgb(13, 1, 24);
}

#contato button:hover {
    transform: scale(1.04);

}

#contato {

    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);
    color: rgba(214, 222, 255, 1);
}

.formu {
    color: #25D366;
}

.form-control:focus {
    border-color: #25D366;
    /* Cor de destaque quando em foco */
    box-shadow: 0 0 0 0.2rem rgba(6, 98, 236, 0.3);
    /* Sombra de destaque */
    outline: 0;
    /* Remova a borda de destaque padrão no Firefox */
}

.mail {
    color: white;
}

.mail:hover {
    transform: scale(1.03);
}


#sl {
    margin-top: 8%;
}

footer {
    font-size: 14px;

}

@media (max-width=767px) {
    #sobre img {
        max-height: 280px;
    }

    #categorias img {
        max-height: 120px;
    }

    .dot {
        position: absolute;
        width: 5vw;
        height: 5vw;
    }

    .dots-container {
        width: 100vw;
    }

    .textop {
        color: white;
        margin-bottom: 30px;
        font-size: 18px;
    }
}